body{
    font-family: 'Roboto', sans-serif;
    max-width: 1600px;
}

#grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

p{
    line-height: 1.5;
}

header{
    grid-area: header;
}

header nav{
    display: flex;
    flex-direction: column;
}

header nav span{
    display: flex;
    justify-content: center;
}

header nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 0;
}

header nav a{
    text-decoration: none;
    color: black;
}

header nav ul li{
    padding: 0.5rem;
    font-size: large;
}

#logotop{
    margin-top: 1rem;
    max-width: 135px;
    max-height: 135px;
}

#home{
    text-decoration: underline;
    text-decoration-color: #e6bd43;
}

#contact{
    margin-top: 1rem;
}

#contact a{
    background-color: #e6bd43;
    padding: 1rem;
}

.container {
    position: relative;
    width: 100%;
    margin: auto;
}

.container video{
    display: none;
}

.container img{
    width: 100%;
    max-height: 500px;
    margin-top: 1rem;
}

.text-overlay {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.text-overlay a{
    background-color: #e6bd43;
    display: inline-block;
    padding: 1rem;
    text-align: left;
    padding-right: 6rem;
    text-decoration: none;
    color: black;
    margin: 0 2rem;
}

.text-overlay h1{
    margin: 0 5rem 1rem 5rem;
}

.text-overlay p{
    margin-bottom: 2rem;
    line-height: 1.5;
    padding: 0 3rem 0 3rem;
}

#floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    padding: 20px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #000000; 
    color: #fff;
    border: none; 
    font-size: xx-large;
    z-index: 1;
}

main{
    grid-area: main;
}

#text{
    text-align: center;
}

#text h2{
    margin: 1.5rem;
}

#text p{
    padding: 0 3rem 0 3rem;
}

#flex-company{
    display: flex;
    flex-direction: column;
    background-color: #e6bd43;
    margin-top: 3rem;
    padding-bottom: 5rem;
    padding-top: 2rem;
}

#flex-company img{
    max-width: 300px;
    align-self: center;
}

#flex-company h3{
    padding: 0 7rem 0 4rem;
}

#flex-company p{
    padding: 0 4rem 0 4rem;
}

#flex-company a{
    text-decoration: none;
    color: black;
}

#read-more b{
    display: inline-block;
    border: 2px solid black;
    padding: 0.5rem 4rem 1rem 1rem;
    margin: 0 4rem;
}

.branding{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.brand-icon{
    flex-direction: column;
}

#flex-branding h3{
    margin-top: 3rem;
    text-align: center;
}

#flex-branding i{
    font-size: xx-large;
    color: black;
}

#flex-branding h4{
    font-size: large;
}

#flex-branding article{
    margin: 2rem 2rem;
}

#user-reg{
    text-align: center;
    background-color: rgb(225, 225, 225);
    padding: 3rem;
    margin-top: 2rem;
}

#user-reg h4{
    font-size: x-large;
}

#placeholder{
    border: 0;
    padding: 1rem 0;
}

#button-sign{
    background-color: #e6bd43;
    border: 0;
    padding: 1rem 0;
}

/*products*/

#home-p{
    text-decoration: none;
}

#prod{
    text-decoration: underline;
    text-decoration-color: #e6bd43;
}

.container-startp {
    position: relative;
    width: 100%;
    margin: auto;
}

#cactus{
    width: 100%;
    max-height: 500px;
    margin-top: 1rem;
}

#cactus2{
    display: none;
}

main h2{
    font-size: x-large;
    margin-left: 2rem;
}

#explore h2{
    margin-left: 2rem;
}

hr{
    margin: 1rem 2rem 1rem 2rem;
    border: 2px solid #e6bd43;
    align-self: stretch;
}

#explore ul{
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
}

#explore li{
    margin: 1rem;
    display: flex;
}

#explore a{
    text-decoration: none;
    color: #000000;
    padding: 0.8rem;
    border: 2px solid #000000;
}

.container-prod{
    display: flex;
    flex-wrap: wrap;
}

.container-prod {
    position: relative;
    width: 100%;
    margin: auto;
}

.container-prod img{
    width: 100%;
    max-height: 500px;
    margin-top: 1rem;
}

.box{
    flex-grow: 1;
    max-width: 692px;
    display: flex;
    flex-direction: column;
}

#branding img{
    width: 85%;
    align-self: center;
}

#design img{
    width: 85%;
    align-self: center;
}

#development img{
    flex-grow: 1;
    width: 85%;
    align-self: center;
}

article h3{
    margin-left: 2rem;
}


/*about*/

#prod-a{
    text-decoration: none;
}

#about{
    text-decoration: underline;
    text-decoration-color: #e6bd43;
}

#container-a{
    position: relative;
    width: 100%;
    margin: auto;
}

#container-a img{
    width: 100%;
    max-height: 500px;
    margin-top: 1rem;
}

#text-overlay-a{
    position: absolute;
    top: 0; 
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    margin-left: 10%;
    margin-top: 3.5rem;
}

#container-a h1{
    font-size: large;
    align-self: flex-start;
    margin-left: 1rem;
    padding-right: 9rem;
}

#text-overlay-a p{
    align-self: flex-start;
    margin: 1rem;
}

#container-a a{
    font-size: medium;
}

#text-overlay-a a{
    background-color: #e6bd43;
    display: inline-block;
    padding: 1rem 3rem 1rem 1rem;
    text-decoration: none;
    color: black;
    align-self: flex-start;
    margin-left: 1rem;
    margin-right: 5rem;
}

#clients{
    background-color: #e6bd43;
    padding: 1rem 0 1rem 0;
}

#clients ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
}

#clients img{
    max-width: 135px;
    padding: 1.5rem;
}

#clients h4{
    font-size: large;
    text-align: center;
}

#contact-us{
    background-color: rgb(225, 225, 225);
    padding: 1rem;
}

#contact-us h3{
    text-align: center;
    margin: 1rem;
}

.flex-contact{
    display: flex;
    flex-direction: column;
}

#scheme h4{
    align-self: stretch;
    margin: 1rem 0 0 2rem;
}

#contact-us form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-us label{
    align-self: stretch;
    margin: 1rem 0 1rem 2rem;
}

#name, #subject{
    padding: 0.5rem;
    align-self: stretch;
    margin: 0 2rem 0 2rem;
    border: 0;
}

#message{
    align-self: stretch;
    margin: 0 2rem 1rem;
    border: 0;
}

#submit{
    background-color: #e6bd43;
    padding: 1rem;
    border: 0;
    font-weight: bold;
    align-self: flex-start;
    margin-left: 2rem;
}

#con-info{
    display: flex;
    flex-direction: column;
}

#con-info h4{
    align-self: stretch;
    margin: 3rem 0 1rem 2rem;
}

#con-info p{
    align-self: stretch;
    margin: 0 2rem 0 2rem;
}

#con-info ul{
    list-style: none;
    align-self: stretch;
    margin-left: 2rem;
    padding: 0;
}

#con-info i{
    font-size: x-large;
    margin: 0.5rem 1rem 0.5rem 0;
    color: rgb(70, 70, 70);
}

iframe{
    width: 100%;
    height: 250px;
    border: 0;
}


footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #252525;
    color: white;
}

footer span{
    margin-top: 2rem;
}

footer p{
    margin-top: 2rem;
}

footer ul{
    list-style: none;
    padding: 0;
}

footer li{
    display: inline-block;
    font-size: xx-large;
    padding: 0 1rem 0 1rem;
}

footer i{
    color: white;
}


@media only screen and (min-width: 600px) {
    #grid-container{
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }

    header nav{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav ul{
        flex-direction: row;
        justify-content: space-between;
        margin: 3.5rem 1rem;
    }

    header nav ul li{
        margin-top: 1rem;
    }

    #logotop{
        margin: 1rem 0 0.5rem 2rem;
    }

    #contact a:hover{
        background-color: #000000;
        color:#e6bd43;
    }    

    .container video{
        display: flex;
        width: 100%;
    }

    .container img{
        display: none;
    }

    .text-overlay a{
        padding-right: 1rem;
    }
    
    .text-overlay a:hover{
        background-color: #000000;
        color: #e6bd43;
    }

    .company-text{
        margin: 3rem;
    }

    #flex-company{
        flex-direction: row;
        padding: 4rem 0 4rem 0;
    }

    #flex-company img{
        margin-left: 3rem;
    }

    #flex-company h3{
        padding: 0;
    }

    #flex-company p{
        padding: 0;
    }

    #read-more b{
        margin: 0;
    }

    #read-more b:hover{
        background-color: #000000;
        color: #e6bd43;
    }

    #user-reg h4{
        font-size: xx-large;
    }

    #placeholder{
        padding: 1.5rem 1.5rem 1.5rem 0.5rem;
    }

    #button-sign{
        padding: 1.5rem 1rem;
    }

    #button-sign:hover{
        background-color: #000000;
        color: #e6bd43;
    }

    #text{
        margin-top: 3rem;
    }

    #cactus{
        display: none;
    }

    #cactus2{
        display: flex;
        width: 100%;
        max-height: 600px;
        margin-top: 1rem;
    }

    #container-a h1{
        font-size: x-large;
        margin-left: 0;
    }

    #text-overlay-a a {
        margin: 0;
    }

    #text-overlay-a a:hover{
        background-color: #000000;
        color: #e6bd43;
    }

    #text-overlay-a{
        width: 50%;
        margin-left: 45%;
    }

    #text-overlay-a p {
        margin: 2rem 0;
    }

    .overlay-text{
        margin-left: 2rem;
    }

    #explore li a:hover{
        background-color: #000000;
        color: #e6bd43;
    }

    #flex-branding h3{
        font-size: x-large;
    }

    #branding article{
        transition: transform 0.3s ease-in-out;
    }
    
    #branding article:hover{
        transform: scale(1.13);
    }

    #design article{
        transition: transform 0.3s ease-in-out;
    }
    
    #design article:hover{
        transform: scale(1.12);
    }

    #development article{
        transition: transform 0.3s ease-in-out;
    }
    
    #development article:hover{
        transform: scale(1.05);
    }

    #clients h4{
        font-size: x-large;
    }

    .flex-contact{
        flex-direction: row;
    }

    #contact-us h3{
        font-size: x-large;
    }

    #con-info h4{
        margin: 1rem 0 1rem 2rem;
    }

    #scheme{
        width: 50%;
    }

    #scheme h4 {
        align-self: stretch;
        margin: 1rem 0;
    }
    
    #contact-us label {
        align-self: stretch;
        margin: 1rem 0;
    }

    #name, #subject {
        margin: 0;
    }

    #message{
        margin: 0 0 1rem;
    }

    #submit{
        margin: 0;
    }

    #submit:hover{
        background-color: #000000;
        color: #e6bd43;
    }

    #contact-us{
        padding: 2rem;
    }

    #con-info{
        width: 50%;
    }

    footer{
        flex-direction: row;
        justify-content: space-between;
    }

    footer img{
        max-width: 130px;
        margin: 0 0 2rem 1rem;
    }
}