body{
    font-family: 'Roboto', sans-serif;
}

#grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

p{
    line-height: 1.5;
}

header{
    grid-area: header;
}

nav span{
    display: flex;
    justify-content: center;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 0;
}

nav a{
    text-decoration: none;
    color: black;
}

nav ul li{
    padding: 0.5rem;
    font-size: large;
}

#logotop{
    margin-top: 1rem;
    max-width: 135px;
    max-height: 135px;
}

#home{
    text-decoration: underline;
    text-decoration-color: #e6bd43;
}

#contact{
    margin-top: 1rem;
}

#contact a{
    background-color: #e6bd43;
    padding: 1rem;
}

.container {
    position: relative;
    width: 100%;
    margin: auto;
}

.container img{
    width: 100%;
    max-height: 500px;
    margin-top: 1rem;
}

.text-overlay {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.text-overlay a{
    background-color: #e6bd43;
    display: inline-block;
    padding: 1rem;
    text-align: left;
    padding-right: 6rem;
    text-decoration: none;
    color: black;
}

.text-overlay h1{
    margin: 0;
}

.text-overlay p{
    margin-bottom: 2rem;
    line-height: 1.5;
    padding: 0 2rem 0 2rem;
}

#floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    padding: 20px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #000000; 
    color: #fff;
    border: none; 
    font-size: xx-large;
}

main{
    grid-area: main;
}

#text{
    text-align: center;
}

#overtext{
    margin-bottom: 0;
    margin-top: 3rem;
}

#undertext{
    margin-top: 0;
}

#text p{
    padding: 0 2rem 0 2rem;
}

#flex-company{
    display: flex;
    flex-direction: column;
    background-color: #e6bd43;
    margin-top: 3rem;
    padding-bottom: 5rem;
    padding-top: 2rem;
}

#flex-company img{
    max-width: 300px;
    align-self: center;
}

#flex-company h3{
    padding: 0 4rem;
}

#flex-company p{
    padding: 0 4rem 0 4rem;
}

#flex-company a{
    text-decoration: none;
    color: black;
}

#read-more b{
    display: inline-block;
    border: 2px solid black;
    padding: 0.5rem 6rem 0.5rem 1rem;
    margin-left: 4rem;
}

#flex-branding{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#flex-branding h3{
    margin-top: 3rem;
}

#flex-branding i{
    font-size: xx-large;
    color: black;
}

#flex-branding h4{
    font-size: large;
}

#flex-branding article{
    margin-top: 2rem;
}

#user-reg{
    text-align: center;
    background-color: rgb(225, 225, 225);
    padding: 3rem;
    margin-top: 2rem;
}

#user-reg h4{
    font-size: x-large;
}

#placeholder{
    border: 0;
    padding: 1rem 0;
}

#button-sign{
    background-color: #e6bd43;
    border: 0;
    padding: 1rem 0;
}

/*products*/

#home-p{
    text-decoration: none;
}

#prod{
    text-decoration: underline;
    text-decoration-color: #e6bd43;
}

main h2{
    font-size: large;
}

#explore h2{
    margin-left: 2rem;
}

hr{
    margin: 1rem 2rem 1rem 2rem;
    border: 2px solid #e6bd43;
    align-self: stretch;
}

#explore ul{
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
}

#explore li{
    margin: 1rem;
    display: flex;
}

#explore a{
    text-decoration: none;
    color: #000000;
    padding: 0.8rem;
    border: 2px solid #000000;
}

#branding{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#branding h2{
    align-self: flex-start;
    margin-left: 2rem;
    margin-bottom: 0;
}

#branding article{
    max-width: 692px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#branding h3{
    margin-bottom: 2.5rem;
}

#design{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#design h2{
    align-self: flex-start;
    margin-left: 2rem;
    margin-bottom: 0;
}

#design article{
    max-width: 692px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#design h3{
    margin-bottom: 2.5rem;
}

#development{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#development h2{
    align-self: flex-start;
    margin-left: 2rem;
    margin-bottom: 0;
}

#development article{
    max-width: 692px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


#development h3{
    margin-bottom: 2.5rem;
}

/*about*/

#prod-a{
    text-decoration: none;
}

#about{
    text-decoration: underline;
    text-decoration-color: #e6bd43;
}

#container-a{
    position: relative;
    width: 100%;
    margin: auto;
}

#container-a img{
    width: 100%;
    max-height: 500px;
    margin-top: 1rem;
}

#text-overlay-a{
    position: absolute;
    top: 0; 
    left: 0; 
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    margin-left: 10%;
    margin-top: 4rem;
}

#container-a h1{
    font-size: large;
    align-self: flex-start;
    margin-left: 1rem;
}

#text-overlay-a p{
    align-self: flex-start;
    margin-left: 1rem;
}

#lorem{
    margin-right: 1rem;
}

#container-a a{
    font-size: medium;
}

#text-overlay-a a{
    background-color: #e6bd43;
    display: inline-block;
    padding: 1rem 5rem 1rem 1rem;
    text-decoration: none;
    color: black;
    align-self: flex-start;
    margin-left: 1rem;
}

#clients{
    background-color: #e6bd43;
    padding: 1rem 0 1rem 0;
}

#clients ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
}

#clients img{
    max-width: 135px;
    padding: 0.5rem;
}

#clients h4{
    margin-left: 1.5rem;
    font-size: large;
}



footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #252525;
    color: white;
}

footer span{
    margin-top: 2rem;
}

footer p{
    margin-top: 2rem;
}

footer ul{
    list-style: none;
    padding: 0;
}

footer li{
    display: inline-block;
    font-size: xx-large;
    padding: 0 1rem 0 1rem;
}

footer i{
    color: white;
}





@media only screen and (min-width: 600px){

}